      {
           "name": "Workspace-{{MetricClass}}-{{MethodName}}",
           "metric_type": "yamas",
           "threshold": "(test.expressionid > $failureRatio)",
           "environment": {
               "test":{
                       	"filter": "$testCluster",
                        "group_by": true,
                        "type": "literal_or",
                        "tagk": "mlcluster"
                       }
           },
           "yamas_input_tags": {
               "time": {
                   "downsampler": {
                       "interval": "240s",
                       "aggregator": "sum"
                   },
                   "aggregator": "zimsum"
               },
                "explicitTags": true,
                "filters": [
                   {
                        "tags": [
                            {
                                "filter": "SUM",
                                "group_by": true,
                                "type": "literal_or",
                                "tagk": "_aggregate"
                            }
                        ],
                        "id": "f1"
                    }
                ],
               "metrics": [
		   {{#MethodList}}
                   {
                       "id": "{{.}}",
                       "metric": "{{NameSpace}}.{{MetricClass}}.{{.}}",
                       "filter": "f1"
                   },
		   {{/MethodList}}
                   {
                       "id": "notinuse",
                       "metric": "{{NameSpace}}.{{MetricClass}}.{{MethodName}}",
                       "filter": "f1"
                   }				
               ],
               "expressions": [
               	   {
                       "id": "normalizer",
                       "expr": "{{Normalizer}}"
                   },
                   {
                       "id": "expressionid",
                       "expr": "{{Expression}}"
                   }
               ]
           }
       },